@use '../base/variables' as *;
@use '../base/mixins' as *;

.button {
  @include font($font-main, $font-size-sm, $font-weight-base);
  padding: 8px 23px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;

  &--primary {
    background: $brand;
    color: $button-text-main;
  }
}
