@use '../base/variables' as *;

.button {
  font-size: $font-size-sm;
  font-weight: $font-weight-base;
  padding: 8px 23px;
  border: 0;
  border-radius: 6px;
  cursor: pointer;

  &--primary {
    background: $brand;
    color: $button-text-main;
  }
}
