@use '../base/variables' as *;
@use '../base/mixins' as *;

.event {
  @include flex(column, flex-start, 10px);
  min-height: 606px;
  width: 48%;

  &__image {
    width: unset;
    height: unset;
  }

  &__title {
    @include font($font-heading, $font-size-xl, $font-weight-regular);
    letter-spacing: 0.02em;

    @media (max-width: 780px) {
      font-size: 64px;
    }
  }

  &__text {
    @include font($font-text, $font-size-md);
  }

  @media (max-width: 1159px) {
    width: 90%;
    min-height: unset;
    gap: 15px;
  }
}
