@use '../base/variables' as *;

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
  min-height: 606px;
  max-width: 620px;

  &__title {
    position: relative;
    font-family: $font-heading;
    font-size: 72px;
    font-weight: 400;
    bottom: 3px;
    letter-spacing: 1.3px;
    line-height: 110%;
    transform: translateX(-2px);

    @media (max-width: 780px) {
      font-size: 52px;
    }
  }

  &__text {
    font-family: $font-text;
    font-size: 18px;
    transform: translateX(-2px);
    letter-spacing: -0.07px;
    line-height: 145%;
  }

  @media (max-width: 780px) {
    min-height: unset;
    gap: 15px;
  }
}
