@use '../base/variables' as *;

.footer {
  border-top: 2px solid #9da3ae;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__logo {
    font-family: $font-main;
    font-weight: 600;
    font-size: 24px;
  }

  &__details {
    font-family:$font-text;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
  }

  @media (max-width: 780px) {
    padding-inline: 40px;
  }
}
