@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  @include flex(column, flex-start, 26px);
  border-top: 2px solid #9da3ae;
  padding: 80px;

  &__logo {
    @include font($font-main, 24px, $font-weight-base);
  }

  &__details {
    @include font($font-text, $font-size-md, $font-weight-regular);
    text-transform: uppercase;
  }

  @media (max-width: 780px) {
    padding-inline: 40px;
  }
}
