@use '../base/variables' as *;
@use '../base/mixins' as *;

.footer {
  @include flex(column, flex-start, 20px);
  border-top: 2px solid #9da3ae;
  padding: 80px;

  &__logo {
    font-family: $font-main;
    font-weight: $font-weight-base;
    font-size: 24px;
  }

  &__details {
    font-family: $font-text;
    font-weight: $font-weight-regular;
    font-size: $font-size-md;
    text-transform: uppercase;
  }

  @media (max-width: 780px) {
    padding-inline: 40px;
  }
}
