@use '../base/variables' as *;
@use '../base/mixins' as *;

.header {
  &__bar {
    @include flex(row, space-between);
    align-items: center;
    padding: 15px 25px;
  }

  &__logo {
    @include font($font-main, 24px, $font-weight-base);
    color: $brand;
    margin-left: 10px;
  }

  &__cta-wrapper {
    width: 15%;
    text-align: right;
  }

  &__burger {
    display: none;
    width: 24px;
    height: 18px;
    background: none;
    border: 0;
    cursor: pointer;

    &-line {
      display: block;
      height: 3px;
      background: $text-main;
      border-radius: 2px;
    }
  }

  @media (max-width: 780px) {
    &__cta-wrapper {
      display: none;
    }

    &__burger {
      @include flex(column, space-between);
    }
  }
}
