@use '../base/variables' as *;
@use '../base/mixins' as *;

.main {
  @include flex(row, center, 79px 40px);
  flex-wrap: wrap;
  padding-inline: 73px;
  padding-block: 40px 85px;

  @media (max-width: 780px) {
    padding-inline: 20px;
  }
}
