@use '../base/variables' as *;

.main {
  padding-inline: 80px;
  padding-block: 40px 85px;

  &__news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 78px 40px;
  }

  @media (max-width: 780px) {
    padding-inline: 40px;
  }
}
