@use '../base/variables' as *;

.news-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  &__item {
    max-width: 290px;
    max-height: 394px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-family: $font-text;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 140%;
  }

  &__text {
    position: relative;
    bottom: 5px;
    font-family: $font-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    vertical-align: middle;
  }
}
