@use '../base/variables' as *;
@use '../base/mixins' as *;

.news {
  @include flex(column, start, 18px);
  width: 22%;

  @media (max-width: 1159px) {
    width: 30%;
  }

  @media (max-width: 780px) {
    width: 40%;
  }

  @media (max-width: 500px) {
    width: 70%;
  }

  &__image {
    width: unset;
    height: unset;
  }

  &__title {
    @include font($font-text, $font-size-lg, $font-weight-bold);
    line-height: 1.3;
  }

  &__text {
    @include font($font-text, $font-size-md, $font-weight-regular);
    line-height: 1.6;
  }
}
