@use '../base/variables' as *;
@use '../base/mixins' as *;

.sidebar {
  @include toggle-hidden;
  position: fixed;
  inset: 0 0 0 auto;
  width: 260px;
  height: 100svh;
  min-height: 100dvh;
  background: $background-main;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  padding: 60px 24px;
  z-index: $z-index-sidebar;

  &--open {
    @include toggle-shown;
    transform: translateX(0);
    transition: transform 0.3s ease;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 25px;
    width: 24px;
    height: 24px;
    border: 0;
    background: none;
    cursor: pointer;

    &-line {
      display: block;
      width: 24px;
      height: 3px;
      background: $text-main;
      border-radius: 2px;

      &:first-child {
        transform: rotate(45deg) translateY(3px);
      }
      &:last-child {
        transform: rotate(-45deg) translateY(-3px);
      }
    }
  }

  &__list {
    @include flex(column, start, 20px);
    list-style: none;
  }

  &__link {
    @include font($font-main, $font-size-md, $font-weight-regular);
    color: $text-main;
    text-decoration: none;
  }
}
