@use '../base/variables' as *;
@use '../base/mixins' as *;

.stories {
  @include flex(column, flex-start, 15px);
  width: 48%;

  &__title {
    @include font($font-text, $font-size-base, $font-weight-bold);
    line-height: 1.4;
    margin-left: 50px;
    color: $brand;
  }

  &__list {
    @include flex(column, flex-start, 23px);
  }

  @media (max-width: 1159px) {
    width: 90%;
  }
}
